<!-- Update gravatar link to use ur own. Use s=64 to make avatar still look good on retina displays -->

<a id="slidemenu-toggle" href="{{@blog.url}}" class="site-nav-logo"><span class="logo" style="background-image: url(http://gravatar.com/avatar/84818ffdec74e98a376855ea538a17d3)"></span></a>
